/*Navbar*/

.navbar {
    background-color:rgb(121, 121, 121);
}
.color1 {
    color: white;
}
.color2{
    color: rgb(177, 177, 177);
}

/*Lista de opciones*/

.list-group {
    margin: 1%;
    padding-right: 2%; 
    padding-left: 8%; 
    float: left;
}


/*Carrusel*/

.carousel {
    text-align: center;
    padding-bottom: 3%;
}
.titulo {
    text-align: center;
    padding-top: 3%;
}

/*Columnas de texto*/

.tamaño-letra{
    font-size: small;
}

